In [42]:
import pandas as pd

In [43]:
df = pd.read_csv('Earthquakes_database.csv')

# მონაცემების პირველი 5 სვეტი
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

#### 1. (L6 – 3 ქულა) გამოიყენეთ მონაცემთა წმედის რომელიმე ფუნქციონალი
(მაგ. რომელიმე სვეტის მონაცემები გადაანაწილეთ რამდენიმე ახალ სვეტად, წაშალეთ რომელიმე სვეტი, ცარიელი მნიშვნელობებისთვის გამოიყენეთ სასურველი ფორმატი, ა.შ.)

In [44]:
# წავშალოთ სვეტები რომებლსაც ბევრი მონაცემები აკლია

df.drop(['Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap', 'Horizontal Distance', 'Horizontal Error'], axis=1, inplace=True)

In [45]:
# შევავსოთ ნაკლული მონაცემები მედიანით

median_depth_error = df['Depth Error'].median()
df['Depth Error'].fillna(median_depth_error)

0        3.5
1        3.5
2        3.5
3        3.5
4        3.5
        ...
23407    1.2
23408    2.0
23409    1.8
23410    1.8
23411    2.2
Name: Depth Error, Length: 23412, dtype: float64

In [46]:
# გავაერთიანოთ ლოკაციის მაჩვენებლები
df['Coordinates'] = df['Latitude'].astype(str) + ', ' + df['Longitude'].astype(str)
df.drop(['Latitude','Longitude'], axis=1, inplace=True)

In [47]:
df.head()

,Date,Time,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status,Coordinates
0,1/2/1965,13:44:18,Earthquake,131.6,NaN,NaN,6.0,MW,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic,"19.246, 145.616"
1,1/4/1965,11:29:49,Earthquake,80.0,NaN,NaN,5.8,MW,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic,"1.863, 127.352"
2,1/5/1965,18:05:58,Earthquake,20.0,NaN,NaN,6.2,MW,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic,"-20.579, -173.972"
3,1/8/1965,18:49:43,Earthquake,15.0,NaN,NaN,5.8,MW,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic,"-59.076, -23.557"
4,1/9/1965,13:32:50,Earthquake,15.0,NaN,NaN,5.8,MW,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic,"11.938, 126.427"

#### 2. (L7 – 3 ქულა) რიცხვითი ტიპის ველის მონაცემები დაყავით კატეგორიებად cut() ფუნქციის გამოყენებით (მაგ. ასაკის ველი 3 კატეგორიად „Children”, “Adolescent”, “Old”). შესაბამისად დაამატეთ კატეგორიის სვეტი.

In [50]:
# კატეგორიებად დაყოფა და მონაცემების განახლება
depth_bins = [0, 70, 300, df['Depth'].max()]
depth_labels = ['Shallow', 'Intermediate', 'Deep']
df['Depth Category'] = pd.cut(df['Depth'], bins=depth_bins, labels=depth_labels, include_lowest=True)


df[['Depth', 'Depth Category']].head()

   Depth Depth Category
0  131.6   Intermediate
1   80.0   Intermediate
2   20.0        Shallow
3   15.0        Shallow
4   15.0        Shallow

#### 3. (L9 – 3 ქულა) გამოიყენეთ მონაცემთა “Reshaping”-ის ჩამოთვლილი ფუნქციებიდან რომელიმე 2 მათგანი 
(stack(), unstack(), melt(), pivot(), explode(), pivot_table(), Crosstab())

In [ ]:
# melt() ფუნქციის გამოყენება სადაცა type არის იდენტიფიქატორი და მაგნიტუდი და სიღრმე ცვლადები
melted_data = df.melt(id_vars=['Type', 'Date', 'Coordinates', 'Depth Category'],
                                    value_vars=['Magnitude', 'Depth'],
                                    var_name='Variable', value_name='Value')

melted_data.head()

In [ ]:
# pivot table შექმნა საშუალო მაგნიტუდების შესაჟამებლად სიღრმეების მიხედვით
pivot_table_depth_magnitude = df.pivot_table(values='Magnitude', index='Depth Category', columns='Magnitude Type', aggfunc='mean')

pivot_table_depth_magnitude

#### 4. (L10 - 3 ქულა) ააგეთ თქვენთვის სასურველი 4 განსხვავებული დიაგრამა შემდეგი ტიპებიდან 
(ხაზოვანი დიაგრამა, სვეტოვანი დიაგრამა, გაფანტულობის დიაგრამა, წრიული დიაგრამა, ჰისტოგრამა).

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# მაგნიტუდის განაწილება სიღრმის მიხედვით
plt.figure(figsize=(10, 6))
sns.boxplot(data=df, x='Depth Category', y='Magnitude', palette='pastel')
plt.title('Magnitude Distribution by Depth Category')
plt.xlabel('Depth Category')
plt.ylabel('Magnitude')
plt.show()

In [ ]:
# სიღრმის განაწილება 
plt.figure(figsize=(10, 6))
sns.histplot(df['Depth'], bins=20, kde=True, color='green')
plt.title('Depth Distribution Histogram')
plt.xlabel('Depth (km)')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# საშუალო მაგნიტუდა სიღრმის მიხედვით
plt.figure(figsize=(10, 6))
sns.barplot(data=df, x='Depth Category', y='Magnitude', palette='deep')
plt.title('Average Magnitude by Depth Category')
plt.xlabel('Depth Category')
plt.ylabel('Average Magnitude')
plt.show()

#### 5. (L11 – 2 ქულა) გამოიყენეთ თარიღებთან სამუშაო მინიმუმ 2 განსხვავებული ფუნქცია/ტრანსფორმაცია სურვილისამებრ 
(მაგ. resample ფუნქცია).

In [ ]:
# Calculate 30-day rolling average of magnitude
rolling_avg_magnitude = df['Magnitude'].rolling(window=30).mean()

# Plotting the rolling average
plt.figure(figsize=(12, 6))
rolling_avg_magnitude.plot(title='30-Day Rolling Average Magnitude of Earthquakes')
plt.xlabel('Date')
plt.ylabel('Magnitude')
plt.show()

In [ ]:
# Convert 'Date' to datetime and extract the 'Year'
df['Year'] = pd.to_datetime(df['Date'],format='mixed',utc=True).dt.year

# Count occurrences of each year to find peak years
year_counts = df['Year'].value_counts().sort_index()

plt.figure(figsize=(12, 6))
year_counts.plot(kind='bar', color='b')
plt.title('Frequency of Earthquakes by Year')
plt.xlabel('Year')
plt.ylabel('Number of Earthquakes')
plt.xticks(rotation=45)  # Rotate the x-axis labels for better readability
plt.grid(True)
plt.show()